@import 'bootstrap/bootstrap';

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$footerHeight: 300px;

@mixin navFont{
    font-family: 'Helvetica Neue';
    font-weight: bold;
    text-transform: uppercase;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body:not(.home) {
  margin-bottom: $footerHeight; /* Margin bottom by footer height */
}

header{
    .header-nav{
        @media screen and (max-width: $md) {
            flex-direction: column;
        }
        .navbar-brand{
            &:hover{
                opacity: 0.5;
                text-decoration: underline;
            }
            @media screen and (max-width: $md) {
                text-align: center;
                white-space: normal;
            }
        }
        .menuIcon{
            display: none;
            @media screen and (max-width: $md) {
                display: inline-block;
            }
        }
    }
    @include navFont();
    #navContainer{
        display: flex;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        @media screen and (max-width: $md) {
            display: none;
        }
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            margin: 0;
            flex-direction: row;
            li{
                a{
                    padding: .5rem 1rem;
                }
            }
            .sub-menu{
                position: absolute;
                display: none;
                margin-top: 5px;
                padding: .5rem 1rem;
                li{
                    padding: 5px;
                    text-align: left;
                }
            }
        }
    }

}

main{
    padding-top: 12px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight; /* Set the fixed height of the footer here */
    padding: 20px;
    @include navFont();
    hr{
        border-top: 3px solid white;
    }

    #footerMenu{
        list-style: none;
        padding: 0;
        li{
            float: left;
            padding-right: 12px;
            a{
                text-transform: uppercase;
                color: white;
            }
        }
        &:after {
            clear: both;
            content: '';
            display: block;
        }
    }

    #sponsorsListFooter{
        h3{
            font-size: 1em;
        }
        .sponsorLogo{
            width: 50px;
            height: 50px;
            float: left;
            margin-right: 10px;
        }
        &::after{
            clear: both;
            content: '';
            display: block;
        }
    }
}

.home{
    overflow: hidden;
    .full{
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        .singleSlide{
            width: 100vw;
            height: 100vh;
            background-position: center;
            background-size: cover;
        }
        #cycler{
            position:relative;
            height: 100vh;
            width: 100vw;
            .slide{
                position:absolute;
                z-index:1;
                background-position: center;
                background-size: cover;
                width: 100vw;
                height: 100vh;
                &.active{
                    z-index:3
                }
            }
        }
        .container{
            position: absolute;
            left: 0;
            right: 0;
            .content{
                height: 85vh;
                position: relative;
                margin: 0 auto;
                @media screen and (max-width: $xs) {
                    height: 90vh;
                }
                header{
                    nav{
                        z-index: 100;
                        padding: 0;
                        #frontNav{
                            list-style: none;
                            padding: 0;
                            @include navFont();
                            li {
                              float: left;
                              padding-right: 12px;
                              a{
                                  padding: 0;
                              }
                            }
                        }
                    }
                }
                .textContent{
                    z-index: 100;
                    width: 65%;
                    position: absolute;
                    bottom: 0;
                    @media screen and (max-width: $xs) {
                        width: 100%;
                    }
                    hr{
                        border-top: 5px solid white;
                    }
                }
            }
        }

        .image-bottom{
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            z-index: -2;
        }
        .image-top{
            position: absolute;
            left: 0;
            top: 0;
            background-size: cover;
            z-index: -1;
            display: none;
        }
    }

    .alert_section{
        z-index: 500;
        width: 350px;
        max-width: 400px;
        min-height: 50px;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: white;
        border-left-width: 5px;
        border-left-style: solid;
        padding: 5px;
        padding-left: 20px;
        word-wrap: break-word;
        @media screen and (max-width: $md) {
            top: unset;
        }
        @media screen and (max-width: $xs) {
            max-width: 100%;
        }
    }
    #sponsorsList{
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 500;
        text-align: right;
        @media screen and (max-width: 768px) {
            display: none;
        }
        .sponsorLogo{
            margin-left: auto;
            width: 80px;
            height: 80px;
            margin-bottom: 10px;
        }
    }
}

#map{
    min-height: 400px;
}

.eventList{
    list-style: none;
    padding: 0;
    padding-bottom: 1em;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .dateMonth{
        text-transform: uppercase;
        display: block;
        padding: 0 0 16px 0;
        stroke: transparent;
        fill: rgba(0,0,0,.87);
        color: rgba(0,0,0,.87);
        font-size: 13px;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: -.02em;
        word-spacing: .1em;
    }
    .eventMonth{
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        -ms-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        // border: 1px solid rgba(0,0,0,.12);
        border-radius: 3px;
        display: block;
        list-style: none;
        margin: 0 0 16px;
        padding: 0;
        .eventListItem{
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid rgba(0,0,0,.12);
            font-size: 16px;
            .row{
                margin-right: 0;
                margin-left: 0;
            }
            .eventContent{
                padding: 16px 16px 0;
            }
            .dateNumber{
                color: white;
                text-decoration: underline;
                padding: 16px 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
        }
    }

}

.videoWrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    .thumbnailVideo,
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.audioWrapper{
    audio{
        width: 100%;
    }
}

.container{
    .singlePost{
        &:last-child{
            border-bottom: none !important;
        }
    }
}

.postPagination{
    li{
        a{
            color: #17a2b8;
        }
        .current{
            color: white;
            background-color: #17a2b8;
        }
    }
}

.menuIcon{
    display: inline-block;
    cursor: pointer;
    .bar{
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s
    }
    .bar-3{
        width: 10px;
    }
    &:hover{
        .bar-3{
            width: 35px;
        }
    }
}

.change{
    .bar-1{
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar-2{
        opacity: 0;
    }

    .bar-3{
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        width: 35px;
    }
}


#myNav {
    font-family: 'Helvetica Neue';
    font-weight: normal;
    text-transform: uppercase;
    max-height: 100vh;
    height: 100vh;
    width: 40vw;
    padding: 20px;
    transform: translateX(-40vw);
    @media screen and (max-width: $sm) {
        width: 50vw;
        transform: translateX(-50vw);
    }
    @media screen and (max-width: $xs) {
        width: 100vw;
        transform: translateX(-100vw);
    }
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    a{
        padding: 8px;
        text-decoration: none;
        font-size: 30px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover{
            color: #f1f1f1;
        }
        &:focus{
            color: #f1f1f1;
        }
    }

    .closebtn{
        position: absolute;
        top: 0px;
        right: 45px;
        font-size: 60px;
    }
    #menu-main-menu{
        padding: 0;
    }

    .sub-menu{
        padding: 0;
        display: none;
    }
}

.navOpen{
    // width: 40% !important;
    transform: translateX(0) !important;
}

@media screen and (max-width: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

  .navOpen{
      width: 100%;
  }
}

.cal-dropdown{
    float: right;
    padding-left: 10px;
}

html.adminLoggedIn{
    margin-top: 0 !important;
    .home{
        .full{
            .container{
                padding-top: 50px;
            }
        }
    }
    body:not(.home){
        padding-top: 32px;
        @media screen and (max-width: 782px){
            padding-top: 46px;
        }
    }
}

.image-background img {
    display: none;
}
img {
    max-width: 100%;
}

.image-background {
    background-size: cover;
    opacity: 0;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
